<div class="wrapper">
    <div class="valign-center">
        <div class="row">
            <div class="col col-50">
                <div class="row">
                    <div class="col">
                        <iframe style="width:100%;height:207px" src="https://www.youtube.com/embed/aiCrzQx61Yo?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="row">
                    <div class="col col-33">
                        <a href="#!/apakatamereka">
                            <img src="/Content/img/apa-kata-mereka.png" class="center-block" />
                            <p class="text-center blue font12 lh-17">Apa Kata <br />Mereka</p>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="#!/konsepbisnis">
                            <img src="/Content/img/konsep-bisnis.png" class="center-block" />
                            <p class="text-center blue font12 lh-17">Konsep <br />Bisnis</p>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="#!/kompensasidanbenefit">
                            <img src="/Content/img/kompensasi.png" class="center-block" />
                            <p class="text-center blue font12 lh-17">Kompensasi <br />& Benefit</p>
                        </a>
                    </div>
                </div>
                <div class="row">                                
                    <div class="col col-33">
                        <a href="produk-kami.html">
                            <img src="/Content/img/produk-kami.png" class="center-block" />
                            <p class="text-center blue font12 lh-17">Produk <br />Kami</p>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="#!/tentang">
                            <img src="/Content/img/tentang-perusahaan.png" class="center-block" />
                            <p class="text-center blue font12 lh-17">Tentang <br />Perusahaan</p>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="jalan-sukses.html">
                            <img src="/Content/img/jalan-sukses.png" class="center-block" />
                            <p class="text-center blue font12 lh-17">Jalan <br />Sukses</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>