@import url(../fonts/font-awesome/font-awesome.css);
.clearfix {
  clear: both; }

.btn {
  border-radius: 0px; }

html, body {
  font-family: 'agenda-regular',sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; }

ul, menu {
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

p {
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

@font-face {
  font-family: 'agenda-regular';
  src: url("../fonts/agenda-regular/agenda-regular.eot");
  src: url("../fonts/agenda-regular/agenda-regular.eot#iefix") format("embedded-opentype"), url("../fonts/agenda-regular/agenda-regular.ttf") format("truetype"), url("../fonts/agenda-regular/agenda-regular.woff") format("woff"), url("../fonts/agenda-regular/agenda-regular.svg#agenda-regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'agenda-medium';
  src: url("../fonts/agenda-medium/agenda-medium.eot");
  src: url("../fonts/agenda-medium/agenda-medium.eot#iefix") format("embedded-opentype"), url("../fonts/agenda-medium/agenda-medium.ttf") format("truetype"), url("../fonts/agenda-medium/agenda-medium.woff") format("woff"), url("../fonts/agenda-medium/agenda-medium.svg#agenda-medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'agenda-bold';
  src: url("../fonts/agenda-bold/agenda-bold.eot");
  src: url("../fonts/agenda-bold/agenda-bold.eot#iefix") format("embedded-opentype"), url("../fonts/agenda-bold/agenda-bold.ttf") format("truetype"), url("../fonts/agenda-bold/agenda-bold.woff") format("woff"), url("../fonts/agenda-bold/agenda-bold.svg#agenda-bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sunlife';
  src: url("../fonts/sunlife/sunlife.eot");
  src: url("../fonts/sunlife/sunlife.eot#iefix") format("embedded-opentype"), url("../fonts/sunlife/sunlife.ttf") format("truetype"), url("../fonts/sunlife/sunlife.woff") format("woff"), url("../fonts/sunlife/sunlife.svg#sunlife") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sunlife' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-sunlife:before {
  content: "\e900";
  font-size: 68px;
  position: absolute;
  width: 120px;
  left: 0;
  right: 0;
  text-align: center;
  top: 7px; }

.main-top {
  height: 50px;
  background: red; }

.main-bottom {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.margin-top-15 {
  margin-top: 15px; }

.general-layoutfixed-container {
  padding: 30px 30px 30px 30px;
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 6;
  height: 100%;
  overflow: scroll; }

.general-layoutfixed {
  height: 100%; }

.bg-white-transparent {
  background: rgba(255, 255, 255, 0.5); }

.content-title {
  width: 100%;
  height: 54px;
  margin: auto;
  border-bottom: 1px solid rgba(26, 78, 89, 0.3);
  padding-bottom: 70px; }

.content-title h2 {
  color: #fff;
  font-size: 23px;
  padding: 8px 0px;
  text-align: center; }

.content-title-2nd {
  width: 100%;
  height: 54px;
  margin: auto;
  padding-bottom: 70px; }

.content-title-2nd h2 {
  color: #fff;
  font-size: 23px;
  padding: 8px 0px;
  text-align: center; }

.themes-switch {
  width: 120px;
  height: 70px;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; }

.themes-switch p {
  color: #fff;
  text-align: center; }

.br10 {
  border-radius: 10px !important;
  border: none !important; }

.br0 {
  border-radius: 0 !important;
  border: none !important; }

a:hover.d-link {
  text-decoration: none; }

.h-95 {
  height: 95%; }

.oy {
  overflow-y: scroll; }

.mt-7 {
  margin-top: 70px; }

::-webkit-scrollbar {
  width: 14px;
  height: 18px; }

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05); }

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none; }

::-webkit-scrollbar-corner {
  background-color: transparent; }

.btn-blue {
  background: #003946 !important;
  border: solid 1px #003946 !important;
  border-radius: 10px !important;
  font-weight: bold !important;
  height: 42px !important; }

.btn-red {
  background: #EF2E2E !important;
  border: solid 1px #EF2E2E !important;
  border-radius: 10px !important;
  font-weight: bold !important;
  height: 42px !important; }

.btn-secondary {
  background: #ffffff !important;
  border: solid 1px #003946 !important;
  border-radius: 10px !important;
  font-weight: bold !important;
  height: 42px !important;
  color: #003946 !important; }

.btn-dokumen {
  background: #2BB814 !important;
  border: solid 1px #2BB814 !important;
  border-radius: 10px !important;
  font-weight: bold !important;
  height: 42px !important;
  color: #ffffff !important; }

.btn-data {
  background: #FFA002 !important;
  border: solid 1px #FFA002 !important;
  border-radius: 10px !important;
  font-weight: bold !important;
  height: 32px !important;
  color: #ffffff !important; }

.form-group span {
  border-radius: 10px;
  color: #BCBCBC;
  font-weight: bold; }

.form-control {
  height: 42px;
  border-radius: 10px; }
  .form-control input:placeholder {
    font-style: normal !important; }

.alert-danger {
  color: #FF0000;
  background-color: #ffffff;
  border-color: #FF0000; }

.form-control.f-danger {
  border-color: #FF0000; }

.erf-menu a {
  color: #003946; }

.erf-menu a.menu-aktif {
  color: #FFA002 !important; }

.erf-menu a:hover {
  color: light-yellow !important;
  cursor: pointer; }

.erf-nomor {
  position: absolute;
  left: -5px; }

.img-login {
  bottom: 0;
  position: absolute; }

.align-items-center {
  align-items: center !important; }

.p-0 {
  padding: 0 !important; }

.bg-indigo {
  background: linear-gradient(0deg, #FFA002, #FCF43B); }

.bg-white {
  fill: #fff !important;
  background-color: #ffffff !important; }

.justify-content-center {
  justify-content: center !important; }

.p-5 {
  padding: 3rem !important; }

.rounded {
  border-radius: 0.25rem !important;
  width: 380px;
  color: #003946; }
  .rounded h2 {
    font-weight: bold; }
  .rounded h3 {
    margin: 10px 0px 30px; }
  .rounded .logo {
    width: 250px;
    top: 45px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute; }
  .rounded .b-login {
    margin-top: 10px;
    padding: 0px; }
  .rounded .f-sandi {
    margin-top: 10px;
    padding: 10px 0px;
    font-weight: bold; }
  .rounded .f-login {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: auto; }
    .rounded .f-login hr {
      border-top: 1px solid #bcbcbc;
      color: #BCBCBC;
      width: 280px; }
  .rounded a {
    color: #003946; }
  .rounded .form-group a {
    color: #ECAC00; }
  .rounded .form-group .f-sandi a {
    color: #003946; }
  .rounded .f-create {
    margin-top: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 450px; }

.d-body {
  background: url(../img/bg-body.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: calc(2rem + 70px); }

.d-menu {
  padding-top: 1.5rem; }

.updoc .card-body {
  overflow-x: scroll;
  display: -webkit-inline-box;
  height: 205px; }
  .updoc .card-body .img-thumbnail {
    position: relative;
    border-radius: 10px; }
    .updoc .card-body .img-thumbnail .imgdoc {
      height: 136px;
      width: auto; }
    .updoc .card-body .img-thumbnail .img-delete {
      position: absolute;
      top: -8px;
      right: -8px; }
    .updoc .card-body .img-thumbnail .img-delete:hover {
      cursor: pointer;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s; }

.pagination {
  float: right; }

.m-error {
  content: url(../img/ic-delete.svg);
  position: absolute;
  top: -10px;
  right: 20px; }

.m-done {
  content: url(../img/ic-done.svg);
  position: absolute;
  top: -10px;
  right: 20px;
  width: 25px; }

nav.navbar-default {
  background: #FFFFFF;
  box-shadow: 0px 18px 40px #F9F9F9;
  border-radius: 0px;
  border: 0;
  height: 75px;
  padding: 0px 15px; }

ul.timeline {
  list-style-type: none;
  position: relative; }

ul.timeline > li p {
  color: #9E9E9E; }

ul.timeline > li:before {
  content: ' ';
  background: #9E9E9E;
  display: inline-block;
  position: absolute;
  left: 44px;
  width: 1px;
  height: 50px;
  z-index: 400;
  margin: 35px 0px; }

ul.timeline > li:last-child:before {
  content: none;
  background: #ffffff !important; }

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px; }

ul.timeline > li:after {
  content: ' ';
  background: #9E9E9E;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  left: 35px;
  width: 20px;
  height: 20px;
  z-index: 400;
  margin-top: -95px; }

ul.timeline > li.aktif:before,
ul.timeline > li.aktif:after {
  background-color: #003946; }

ul.timeline > li.aktif p {
  color: #003946; }

.soal-psiko .custom-control-label::after {
  position: absolute;
  top: 0.25rem;
  left: 0.8rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50% / 50% 50%; }

.soal-psiko .custom-radio .custom-control-label::before {
  border-radius: 0%; }

.soal-psiko .custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  left: 0.8rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #ffffff;
  border: #000000 solid 2px; }

.soal-psiko .custom-control-input:checked ~ .custom-control-label::before {
  color: #ffffff;
  border-color: #FFA002;
  background-color: #FFA002; }

@media (min-width: 1200px) {
  .d-md-flex {
    display: flex !important; }

  .h-md-100 {
    height: 100vh !important; }

  .loginarea {
    z-index: 1111; }

  .d-card {
    margin: auto 120px !important;
    height: 485px !important; }

  .d-done {
    position: absolute;
    right: 0;
    bottom: 5px; }

  .img-doc {
    height: 180px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .d-md-flex {
    display: flex !important; }

  .h-md-100 {
    height: 100vh !important; }

  .loginarea {
    z-index: 1111; }

  .d-card {
    margin: auto 60px !important;
    height: 485px !important; }

  .d-done {
    position: absolute;
    right: 0;
    bottom: 5px; }

  .img-doc {
    height: 150px; }

  .erf-menu label {
    line-height: 18px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .d-md-flex {
    display: flex !important; }

  .h-md-100 {
    height: 100vh !important; }

  .loginarea {
    z-index: 1111; }

  .p-5 {
    padding: 1.8rem !important; }

  .rounded h2 {
    font-size: 19px;
    margin-bottom: 0px; }
  .rounded h3 {
    font-size: 14px;
    margin: 5px 0px 20px; }
  .rounded .logo {
    width: 160px; }
  .rounded .f-login hr {
    margin-bottom: 10px;
    width: 150px; }
  .rounded .f-sandi {
    margin-top: 15px;
    padding: 5px 0px; }

  .d-done {
    position: absolute;
    right: -8px;
    bottom: 5px; }

  .img-doc {
    height: 130px; }

  .erf-menu label {
    font-size: 14px;
    line-height: 16px; }
  .erf-menu img {
    height: 38px; } }
@media (min-width: 480px) and (max-width: 767px) {
  .d-card .card-body {
    padding: 10px; }
    .d-card .card-body .h5 {
      font-size: 1rem !important; }

  .d-done {
    position: absolute;
    right: -8px;
    bottom: 5px; }

  .img-doc {
    height: 100px; }

  .erf-menu label {
    font-size: 10px;
    line-height: 12px; }
  .erf-menu img {
    height: 28px; } }

/*# sourceMappingURL=style-sass.css.map */
