
<header class="text-center after-dashboard">
    <a href="#!/kompensasidanbenefit" class="blue"><i class="fa fa-chevron-left pull-left"></i></a>
    Kompensasi
</header>

<div class="wrapper">
    <div class="text-center font12 mt-11">Bonus produksi & Presistensi secara kwartal sampai dengan maksimal 50% dari total FYC</div>
    <div class="row row-bottom ps-20">
        <div class="col col-50 text-right">
            <img src="/Content/img/chart.png" class="chart-img" />
        </div>
        <div class="col col-50 text-left">
            <img src="/Content/img/orang.png" class="orang-img" />
        </div>
    </div>
    <br />
</div>