<div class="container">
    <div ng-controller="profileController" class="modal-demo">
        <div class="profile-detil">
            <div class="avatar"><i class="fa fa-user" aria-hidden="true"></i></div>
            <h2></h2>
            <a href="#!/changePassword" class="btn btn-primary">Change Password</a>
            <a href="#!/login" class="btn btn-primary">Sign Out</a>
        </div>
        <hr />
        <div class="setting-title">
            Contact |
            <a href="#!/contact">Contact</a>
        </div>
        <hr />
        <div class="setting-title">
            Approval |
            <a href="#!/approvalForm">Approval</a> 
        </div>
        <hr />
        <div class="setting-title">
            AAJI Schedule |
            <a href="#!/jadwalAaji">AAJI Schedule</a>
        </div>
        <hr />
        <div class="setting-title">
            FAQ |
            <a href="#!/faqFront">FAQ</a>
        </div>
        <hr />
    </div>
</div>