    <div class="wrapper">
        <div class="valign-center">
            <div class="row">
                <div class="col-offset-10 col">
                    <div class="row">
                        <div class="col col-25">
                            <a href="#!/konsepbisnis/1">
                                <img src="/Content/img/peluangbisnis.png" class="center-block" />
                                <div class="text-center font12 slate-blue">Peluang Bisnis</div>
                            </a>
                        </div>
                        <div class="col col-25">
                            <a href="#!/konsepbisnis/2">
                                <img src="/Content/img/modalusaha.png" class="center-block" />
                                <div class="text-center font12 slate-blue">Modal Usaha</div>
                            </a>
                        </div>
                        <div class="col col-25">
                            <a href="#!/konsepbisnis/3">
                                <img src="/Content/img/carakerja.png" class="center-block" />
                                <div class="text-center font12 slate-blue">Cara Kerja</div>
                            </a>
                        </div>
                        <div class="col col-25">
                            <a href="#!/konsepbisnis/4">
                                <img src="/Content/img/targetmarket.png" class="center-block" />
                                <div class="text-center font12 slate-blue">Target Market</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col col-10">
                </div>
            </div>
        </div>
    </div>
