<div class="wrapper">
    <div class="row">
        <div class="col col-50">
            <a class="button button-block btn-primary" href="#!/apakatamereka/1">Ibu Rumah Tangga</a>
        </div>
        <div class="col col-50">
            <a class="button button-block btn-primary" href="#!/apakatamereka/2">Pengusaha</a>
        </div>
    </div>
    <div class="row">
        <div class="col col-50">
            <a class="button button-block btn-primary" href="#!/apakatamereka/3">Karyawan & Karyawati</a>
        </div>
        <div class="col col-50">
            <a class="button button-block btn-primary" href="#!/apakatamereka/4">Brighter Gen</a>
        </div>
    </div>
    <div class="row">
        <div class="col col-50">
            <a class="button button-block btn-primary" href="#!/apakatamereka/5">Pensiunan</a>
        </div>
    </div>
</div>