
<div class="col-12 p-0 mt-7">
    <div class="card br0 shadow h-100">
        <div class="card-body nav-card-fix p-0">
            <div class="container no-pad">
                <div class="form-row erf-menu pl-5 pr-5 pt-4 pb-0">
                    <a href="#!/data-pribadi" class="form-group col text-center img-nav-v2">
                        <img src="Content/assets/img/ic-data-pribadi.svg" class="img-fluid menu-aktif">
                        <br><label><strong>Data Pribadi</strong></label>
                        <i ng-show="statusDataPribadi" class="m-done"></i>

                    </a>
                    <a href="#!/data-kontak" class="form-group col text-center img-nav-v2 menu-aktif">
                        <img src="Content/assets/img/ic-ak-kontak.svg" class="img-fluid">
                        <br><label><strong>Kontak</strong></label>

                    </a>
                    <a href="#!/data-keluarga" class="form-group col text-center img-nav-v2">
                        <img src="Content/assets/img/ic-keluarga.svg" class="img-fluid">
                        <br><label><strong>Data Keluarga</strong></label>
                        <i ng-show="statusDataKeluarga" class="m-done"></i>
                    </a>
                    <a href="#!/data-pendidikan" class="form-group col text-center img-nav-v2">
                        <img src="Content/assets/img/ic-pendidikan.svg" class="img-fluid">
                        <br><label><strong>Pendidikan</strong></label>
                        <i ng-show="statusDataPendidikan" class="m-done"></i>
                    </a>
                    <a href="#!/data-pekerjaan" class="form-group col text-center img-nav-v2">
                        <img src="Content/assets/img/ic-pekerjaan.svg" class="img-fluid">
                        <br><label><strong>Riwayat Pekerjaan</strong></label>
                        <i ng-show="statusDataPekerjaan" class="m-done"></i>
                    </a>
                    <a href="#!/data-dokumen" class="form-group col text-center img-nav-v2">
                        <img src="Content/assets/img/ic-dokumen.svg" class="img-fluid">
                        <br><label><strong>Dokumen</strong></label>
                        <i ng-show="statusDataDokumen" class="m-done"></i>
                    </a>
                    <a href="#!/data-ptkp" class="form-group col text-center img-nav-v2">
                        <img src="Content/assets/img/ic-ptkp.svg" class="img-fluid">
                        <br><label><strong>PTKP</strong></label>
                        <i ng-show="statusDataPtkp" class="m-done"></i>
                    </a>
                    <!--<a class="form-group col text-center img-nav-v2">
                        <img src="Content/assets/img/ic-psikotes.svg" class="img-fluid" ng-click="ToPsikotes()">
                        <br><label><strong>Psikotes</strong></label>
                        <i ng-show="statusDataPsikotes" class="m-done"></i>
                    </a>-->
                    <a class="form-group col text-center img-nav-v2">
                        <img src="Content/assets/img/ic-papikostick-1.svg" class="img-fluid" ng-click="ToPapikostik()">
                        <br><label><strong>Papikostik</strong></label>
                        <i ng-show="statusDataPapikostik" class="m-done"></i>
                    </a>
                    <a href="#!/data-review" class="form-group col text-center img-nav-v2">
                        <img src="Content/assets/img/ic-review.svg" class="img-fluid">
                        <br><label><strong>Review</strong></label>
                        <i ng-show="statusDataReview" class="m-done"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-menu h-100 nopad-340px">
    <div class="container h-100 nopad-340px">

        <div class="row h-100">
            <div class="col-12 mb-4 d-link" style="height:65%">
                <div class="card br10 shadow h-100">
                    <div class="card-body d-flex flex-column pl-5 pr-5 pt-4 pb-4" style="overflow-y: scroll;">

                        <form>
                            <!-- <label><strong>Kontak Darurat</strong></label>-->
                            <div ng-repeat="x in listKontakDarurat">
                                <div class="d-flex justify-content-lg-between">
                                    <label>
                                        <strong>Kontak Darurat {{$index + 1}}</strong>
                                        <!-- <strong>Kontak Darurat {{$index == 0 ? "":$index}}</strong>-->
                                    </label>
                                    <div class="form-group col-md-1" ng-if="$index > 1">
                                        <button ng-click="deleteContactDarurat($index)" class="fa fa-trash btn-data shadow-sm btn-blue btn-block"></button>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <input type="text" id="nama{{$index}}" ng-model="x.NamaLengkap" class="form-control" placeholder="Nama Lengkap" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input type="text" id="telp{{$index}}" ng-class="warnaMerahTlp" ng-model="x.NoTelepon" format-number maxlength="14" class="form-control" placeholder="No. Telepon" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input type="text" id="hub{{$index}}" ng-class="warnaMerahHub" ng-model="x.Hubungan" class="form-control" placeholder="Hubungan dengan kandidat" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group {{$index > 1 ? 'col-md-12' :'col-md-12'}}">
                                        <input type="text" id="alamat{{$index}}" ng-model="x.Alamat" class="form-control" placeholder="Alamat" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="form-group col-md-4">
                                    <button ng-click="addContactDarurat()" class="btn-data shadow-sm btn-blue btn-block">+ Tambah Kontak Darurat</button>
                                </div>
                            </div>


                            <div class="form-row mt-auto">
                                <div class="form-group col-md-4">
                                    <button onclick="window.location.href='#!/data-pribadi';" class="btn-secondary shadow-sm btn-blue btn-block">Kembali</button>
                                </div>
                                <div class="form-group col-md-4 ml-auto">
                                    <button ng-click="submitKontakDarurat()" class="btn-primary shadow-sm btn-blue btn-block">Simpan</button> <!--ng-click="submitKontakDarurat()"-->
                                </div>
                            </div>

                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>