<div class="container-fluid d-body h-100 nopad-340px">
    <div class="container h-100 nopad-340px">

        <div class="row h-100">
            <div class="col-12 mb-4 d-link h-95">
                <div class="card br10 shadow h-100">
                    <div class="card-body d-flex flex-column pl-5 pr-5 pt-4 pb-4 oy">
                        <div class="text-center">
                            
                            <form class="col-sm-4 offset-md-4 mt-5">
                                <hr>
                                <div class="form-group">
                                    <input type="password" ng-model="changePassData.InputNewPassword" class="form-control" placeholder="Password Baru" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" ng-model="changePassData.InputConfirmationNewPassword" class="form-control" placeholder="Ulang Password Baru" required>
                                </div>
                                <div class="form-group row p-3">
                                    <button class=btn btn-primary shadow-sm btn-secondary col-sm-5 col-12 mb-20" onclick="window.location.href = '#';">Batal</button>
                                    <button ng-click="submit()" type="submit" class="btn-primary shadow-sm btn-blue col-sm-5 col-12 ml-auto mb-20">Simpan</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>