<div class="wrapper">
    <div class="row">
        <div class="col col-50">
            <div class="subtitle">Pengusaha</div>
            <iframe class="iframe-apa-kata-mereka" src="https://www.youtube.com/embed/XShshWmcfhU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col col-50">
            <div class="subtitle">Video Lainnya</div>
            <div class="row">
                <div class="col col-20" style="padding:0">
                    <img src="/Content/img/thumbnail.png" style="width:100%" />
                </div>
                <div class="col">
                    <div class="people">
                        <div class="name-person">Putu Suryasih</div>
                        <div class="desc-person">Lorem ipsum dolor sit amet</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-20" style="padding:0">
                    <img src="/Content/img/thumbnail.png" style="width:100%" />
                </div>
                <div class="col">
                    <div class="people">
                        <div class="name-person">Putu Suryasih</div>
                        <div class="desc-person">Lorem ipsum dolor sit amet</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>