<footer class="after-dashboard">
    <div class="row">
        <div class="col text-center">
            <a href="#!/home">
                <img src="/Content/img/nav-home-nonactive.png" class="center-block" />
                <div>Beranda</div>
            </a>
        </div>
        <div class="col text-center">
            <a href="#!/apakatamereka" >
                <img src="/Content/img/nav-apa-kata-nonactive.png" class="center-block" />
                <div>Apa Kata Mereka</div>
            </a>
        </div>
        <div class="col text-center">
            <a href="#!/konsepbisnis" >
                <img src="/Content/img/nav-konsep-bisnis-nonactive.png" class="center-block" />
                <div>Konsep Bisnis</div>
            </a>
        </div>
        <div class="col text-center">
            <a href="#!/kompensasidanbenefit" class="active">
                <img src="/Content/img/nav-kompensasi-active.png" class="center-block" />
                <div>Kompensasi & Benefit</div>
            </a>
        </div>
        <div class="col text-center">
            <a href="#!/produckkami">
                <img src="/Content/img/nav-produk-nonactive.png" class="center-block" />
                <div>Produk Kami</div>
            </a>
        </div>
        <div class="col text-center">
            <a href="#!/tentang">
                <img src="/Content/img/nav-tentang-perusahaan-nonactive.png" class="center-block" />
                <div>Tentang Perusahaan</div>
            </a>
        </div>
        <div class="col text-center">
            <a href="#!/jalansukses">
                <img src="/Content/img/nav-jalan-sukses-nonactive.png" class="center-block" />
                <div>Jalan Sukses</div>
            </a>
        </div>
    </div>
</footer>