<div class="wrapper">
    <div class="valign-center">
        <div class="row">
            <div class="col-offset-10 col">
                <div class="row">
                    <div class="col col-33">
                        <a href="#!/kompensasidanbenefit/1">
                            <img src="/Content/img/karirbisnis.png" class="center-block" />
                            <div class="text-center font12 slate-blue">Karir Bisnis</div>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="#!/kompensasidanbenefit/2">
                            <img src="/Content/img/kompensasi-big.png" class="center-block" />
                            <div class="text-center font12 slate-blue">Kompensasi</div>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="#!/kompensasidanbenefit/3">
                            <img src="/Content/img/benefit.png" class="center-block" />
                            <div class="text-center font12 slate-blue">Benefit</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-10 col">
            </div>
        </div>
    </div>
</div>