<div class="container-fluid d-body h-100">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 mb-4 d-link h-95">
        <div class="card br10 shadow h-100">
          <div class="card-body d-flex flex-column pl-5 pr-5 pt-4 pb-4 oy">
              <div class="text-justify">
                  <p>
                     <strong>Tentang sun life financial indonesia</strong>
                  </p>
                  <p>
                      sejak 1995, pt sun life financial indonesia (sun life) telah menyediakan berbagai produk proteksi dan pengelolaan kekayaan, yang meliputi asuransi jiwa, asuransi pendidikan, asuransi kesehatan, dan perencanaan hari tua kepada para nasabah. di sun life, kami memiliki tujuan yang jelas membantu para nasabah kami mencapai kemapanan finansial dan menjalani hidup yang lebih sehat.
                  </p>
                  <p>
                      Setiap tahun Sun Life Financial Indonesia mengalami pertumbuhan yang signifikan di pasar di mana kami beroperasi. Kami terus berupaya untuk meningkatkan produk dan layanan kami demi memenuhi kebutuhan para nasabah.
                  </p>
                  <p>
                      Para karyawan serta perencana keuangan kami selalu bekerja keras untuk meraih kepercayaan nasabah, dan kami akan terus mengembangkan jalur distribusi keagenan (konvensional dan syariah) dan distribusi kemitraan. Saat ini kami menyediakan berbagai produk inovatif kepada para nasabah melalui lebih dari 132 kantor pemasaran konvensional dan 49 kantor pemasaran syariah di seluruh Indonesia.
                  </p>
                  <p>
                      <strong>Tentang Sun Life Financial</strong>
                  </p>
                  <p>
                      Sun Life Financial merupakan perusahaan penyedia layanan jasa keuangan internasional terkemuka yang menyediakan beragam produk asuransi, serta solusi pengelolaan kekayaan dan aset, baik untuk individu maupun korporasi. Kami beroperasi di sejumlah pasar utama di seluruh dunia, yaitu Kanada, Amerika Serikat, Inggris, Irlandia, Hong Kong, Filipina, Jepang, Indonesia, India, Cina, Australia, Singapura, Vietnam, Malaysia, dan Bermuda.
                  </p>
                  <p>
                      Kami memiliki ambisi untuk menjadi salah satu perusahaan asuransi dan aset manajemen terbaik di dunia dengan membantu para nasabah meraih kemapanan finansial dan menjalani hidup yang lebih sehat.
                  </p>
                  <p>
                      Per 31 Desember 2017, Sun Life Financial memiliki total aset kelolaan sebesar CDN 975 miliar. Untuk informasi lebih lanjut, silakan kunjungi www.sunlife.com.
                  </p>
                  <p>
                      Sun Life Financial Inc. diperdagangkan di bursa saham Toronto (TSX), New York (NYSE), dan Filipina (PSE), dengan kode saham SLF.
                  </p>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>