.d-body {
  background: url(../img/bg-body.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top:calc(2rem + 70px);
}
.d-menu{
  // padding-top:calc(1.5rem + 70px);
  padding-top:1.5rem;
}
.updoc{
	.card-body{
		overflow-x: scroll;		
    	display: -webkit-inline-box;
    	height:205px;
		.img-thumbnail{			
			position: relative;
    		border-radius: 10px;
			.imgdoc{
				height:136px;
				width:auto;
			}
			.img-delete{
				position: absolute;
			    top: -8px;
			    right: -8px;
			}
			.img-delete:hover{
			    cursor: pointer;
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				transform: rotate(90deg);
				-webkit-transition-duration: 1s;
				-moz-transition-duration: 1s;
				-o-transition-duration: 1s;
				transition-duration: 1s;
			}
		}
	}
}
.pagination{
	float:right;
}
.m-error{
	content:url(../img/ic-delete.svg);
    position: absolute;
    top: -10px;
    right: 20px;
}
.m-done{
	content:url(../img/ic-done.svg);
    position: absolute;
    top: -10px;
    right: 20px;
    width:25px;
}