.img-login{
	bottom:0;
	position:absolute;
}
.align-items-center {
	align-items: center !important;
}
.p-0 {
    padding: 0 !important;
}
.bg-indigo {
	// background-image: url(../img/bg-login.jpg);
	background: linear-gradient(0deg, #FFA002, #FCF43B);
}
.bg-white {
    fill: #fff !important;
	background-color: #ffffff !important;
}
.justify-content-center {
    justify-content: center !important;
}
.p-5 {
    padding: 3rem !important;
}
.rounded {
    border-radius: 0.25rem !important;
    width:380px;
    color:$dark-blue;
    h2{font-weight: bold;}
    h3{margin: 10px 0px 30px;}    
    .logo{
    	width: 250px;
	    top: 45px;
	    left: 0;
	    right: 0;
	    margin: auto;
	    position: absolute;
	}
	.b-login{
		margin-top:10px;
		padding:0px;
	}
	.f-sandi{margin-top:10px;padding:10px 0px;font-weight: bold;}
	.f-login{
		text-align: center;
	    font-size: 18px;
	    font-weight: bolder;
	    position: absolute;
	    bottom: 45px;
	    left: 0;
	    right: 0;
	    margin: auto;
	    hr{
	    	border-top: 1px solid #bcbcbc;
		    color: #BCBCBC;
		    width: 280px;
	    }
	}
	a{color:$dark-blue;}
	.form-group{
		a{color:$yellow;}
		.f-sandi{a{color:$dark-blue;}}
	}
	.f-create{
		margin-top: 100px;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 450px;
	}
}