.soal-psiko .custom-control-label::after {
    position: absolute;
    top: 0.25rem;
    left: 0.8rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50% / 50% 50%;
}

.soal-psiko .custom-radio .custom-control-label::before {
    border-radius: 0%;
}

.soal-psiko .custom-control-label::before {
    position: absolute;
    top: 0.25rem;
    left: 0.8rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: $white;
    border: $black solid 2px;
}

.soal-psiko .custom-control-input:checked ~ .custom-control-label::before {
    color: $white;
    border-color: $light-yellow;
    background-color: $light-yellow;
}