/* Question */
.question-container {
  height:100%;
}
.question-container p {
  text-align:center;
  color:$blue100;
  font-size:20px;
  margin:0px auto 10px auto;
}
.question-wrap {
  padding: 40px;
  height:auto;
  margin-bottom: 30px;
}
.question-wrap form {
  text-align:center;
}
.radio-wrap {
  width:50%;
  margin:auto;
  font-size:18px;
  color:$blue100;
  line-height:40px;
  text-align:left;
}
.radio-wrap  p {
  text-align:left;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    // left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    min-width: 60px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color:$blue100;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background:$blue100;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
