<header class="text-center after-dashboard">
    <a href="#!/konsepbisnis" class="blue"><i class="fa fa-chevron-left pull-left"></i></a>
    Target Market
</header>
<div class="wrapper" style="padding-top:0">
    <div class="row" style="height: 100%;padding:0">
        <div class="col col-50" style="padding:0">
            <div class="bg-targetmarket">
                <div class="border-white"></div>
            </div>
        </div>
        <div class="col col-50">
            <div class="valign-center">
                <div class="grey font16 ps-9">
                    <div class="bg-grey">
                        <img src="/Content/img/bubble.png" class="img-bubble" />
                        Orang terdekat dan Anda sendiri. Referral dari orang dekat anda. Siapapun, baik itu penghasil keuangan keluarga, anggota keluarga tercinta, perkumpulan dan komunitas, rekan se-profesi.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>