<header class="text-center after-dashboard">
    <a href="#!/kompensasidanbenefit" class="blue"><i class="fa fa-chevron-left pull-left"></i></a>
    Benefit
</header>

<div class="wrapper">
    <div class="valign-center">
        <div class="row">
            <div class="col-offset-10 col">
                <div class="row">
                    <div class="col col-33">
                        <a href="#!kompensasidanbenefit/3/1">
                            <img src="/Content/img/sunclub.png" class="center-block" />
                            <div class="text-center font12 slate-blue">Sun Excellence<br />Race 2018</div>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="#!kompensasidanbenefit/3/2">
                            <img src="/Content/img/convention.png" class="center-block" />
                            <div class="text-center font12 slate-blue">Rookie Experience<br />2018</div>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="#!kompensasidanbenefit/3/3">
                            <img src="/Content/img/mdrt.png" class="center-block" />
                            <div class="text-center font12 slate-blue">MDRT International<br />2019</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-10 col">
            </div>
        </div>
    </div>
</div>