<header class="text-center after-dashboard">
    <a href="#!/kompensasidanbenefit/3" class="blue"><i class="fa fa-chevron-left pull-left"></i></a>
    Sun Excellence Race 2018
</header>

<div class="wrapper">
    <div style="padding:11px 16px">
        <img src="/Content/img/sunexcellencerace.png" style="width:100%" />
    </div>
    <div class="row">
        <div class="col-offset-10 col">
            <div class="row">
                <div class="col col-33">
                    <a href="">
                        <img src="/Content/img/i-event.png" class="center-block i-kompensasi" />
                        <div class="text-center black">Sun Excellence <br />Race 2018</div>
                    </a>
                </div>
                <div class="col col-33">
                    <a href="">
                        <img src="/Content/img/i-location.png" class="center-block i-kompensasi" />
                        <div class="text-center black">Taiwan, Umroh, <br />Yunani, Santorini</div>
                    </a>
                </div>
                <div class="col col-33">
                    <a href="">
                        <img src="/Content/img/i-calendar.png" class="center-block i-kompensasi" />
                        <div class="text-center black">2 Januari 2018 - <br />29 Desember 2018</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-10 col">
        </div>
    </div>
</div>