<nav class="navbar navbar-expand navbar-light bg-white topbar fixed-top">


  <a class="nav-link" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img class="img-profile" src="Content/assets/img/sunlife-logo.svg" width="140" height="35">
    <span class="ml-2 d-none d-lg-inline text-dark"><strong>Profil</strong></span>
  </a>

  <ul class="navbar-nav ml-auto">

    <li class="nav-item dropdown no-arrow">
      <a class="nav-link" href="#/profil">
          <img class="img-profile rounded-circle img-respnsv" src="Content/assets/img/img-cat.jpg">
        <span class="ml-2 d-none d-lg-inline text-dark">Welcome, <strong>Catriona Gray</strong></span>
      </a>
    </li>

    <div class="topbar-divider d-none d-sm-block"></div>

    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link pl-1" href="#/notif">
          <img class="img-profile rounded-circle img-respnsv" src="Content/assets/img/ic-notif.svg">
        <span class="badge badge-danger badge-counter">5</span>
      </a>
    </li>

    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link pl-1" href="#/pengaturan">
          <img class="img-profile rounded-circle img-respnsv" src="Content/assets/img/ic-setting.svg">
      </a>
    </li>

    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link pl-1" href="#/dashboard">
          <img class="img-profile rounded-circle img-respnsv" src="Content/assets/img/ic-home.svg">
      </a>
    </li>

<!--     <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Utilities</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Custom Utilities:</h6>
          <a class="collapse-item" href="utilities-color.html">Colors</a>
          <a class="collapse-item" href="utilities-border.html">Borders</a>
          <a class="collapse-item" href="utilities-animation.html">Animations</a>
          <a class="collapse-item" href="utilities-other.html">Other</a>
        </div>
      </div>
    </li> -->

    
  </ul>

</nav>