<header class="text-center after-dashboard">
    <i class="fa fa-chevron-left pull-left"></i>
    Tentang Perusahaan
</header>

<div class="wrapper">
    <div class="contain-accordion">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Tentang Sun Life Financial
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row row-center padding0">
                            <div class="col col-10 padding0">
                                <img src="/Content/img/i-organisasi.png" class="center-block" />
                            </div>
                            <div class="col padding0">
                                Organisasi jasa keuangan internasional yang didirikan pada 1865 dan berasal dari Kanada.
                            </div>
                        </div>
                        <hr class="hr-profil" />
                        <div class="row row-center padding0">
                            <div class="col col-10 padding0">
                                <img src="/Content/img/i-produk.png" class="center-block" />
                            </div>
                            <div class="col padding0">
                                Produk proteksi dan pengelolaan kekayaan untuk nasabah individu dan korporat.
                            </div>
                        </div>
                        <hr class="hr-profil" />
                        <div class="row row-center padding0">
                            <div class="col col-10 padding0">
                                <img src="/Content/img/i-SF.png" class="center-block" />
                            </div>
                            <div class="col padding0">
                                Sun Life Financial dan para mitranya saat ini beroperasi di pasar utama dunia, yaitu Kanada, Amerika Serikat, Inggris Irlandia, Hong Kong, Filipina, Jepang, Indonesia, India, Tiongkok, Malaysia, Vietnam dan Bermuda.
                            </div>
                        </div>
                        <hr class="hr-profil" />
                        <div class="row row-center padding0">
                            <div class="col col-10 padding0">
                                <img src="/Content/img/i-SFsaham.png" class="center-block" />
                            </div>
                            <div class="col padding0">
                                Sun Life Financial diperdagangkan di bursa saham Toronto (TSX), New York (NYSE), dan Filipina (PSE) dengan kode saham SLF.
                            </div>
                        </div>
                        <hr class="hr-profil" />
                        <div class="row row-center padding0">
                            <div class="col col-10 padding0">
                                <img src="/Content/img/i-ceo.png" class="center-block" />
                            </div>
                            <div class="col padding0">
                                <div class="font12 slate-blue">Terpilih pada Desember 2011</div>
                                Chief Executive Officer : Dean A. Connor
                            </div>
                        </div>
                        <hr class="hr-profil" />
                        <div class="row row-center padding0">
                            <div class="col col-10 padding0">
                                <img src="/Content/img/i-lokasi.png" class="center-block" />
                            </div>
                            <div class="col padding0">
                                <div class="font12 slate-blue">Lokasi Kantor Pusat</div>
                                Toronto, Canada
                            </div>
                        </div>
                        <hr class="hr-profil" />
                        <div class="row row-center padding0">
                            <div class="col col-10 padding0">
                                <img src="/Content/img/i-totaldana.png" class="center-block" />
                            </div>
                            <div class="col padding0">
                                <div class="font12 slate-blue">Total Dana Kelolaan per 31 Desember 2017</div>
                                CAD 975 miliar
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Kuatnya Reputasi Kami
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="row padding0">
                            <div class="col col-50">
                                <div class="row padding0">
                                    <div class="col col-20 padding0">
                                        <img class="img-responsive" src="/Content/img/th-best50.png" />
                                    </div>
                                    <div class="col padding0">
                                        <div class="div-reputation">
                                            <div class="year-semi">2016</div>
                                            <div class="font12 light-grey">Canada's Best 50 Corporate Citizens dari Majalah Corporate Knights</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-50">
                                <div class="row padding0">
                                    <div class="col col-20 padding0">
                                        <img class="img-responsive" src="/Content/img/th-global.png" />
                                    </div>
                                    <div class="col padding0">
                                        <div class="div-reputation">
                                            <div class="year-semi">2016</div>
                                            <div class="font12 light-grey">Global 100 Most Sustainable Corporations dari Majalah Corporate Knights</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row padding0">
                            <div class="col col-50">
                                <div class="row padding0">
                                    <div class="col col-20 padding0">
                                        <img class="img-responsive" src="/Content/img/th-trustedbrand.png" />
                                    </div>
                                    <div class="col padding0">
                                        <div class="div-reputation">
                                            <div class="year-semi">2016</div>
                                            <div class="font12 light-grey">Most Trusted Brand Awards category Life Insurance Company dari Reader’s Digest</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">
                            Luasnya Ekspansi Kami di Asia
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <img src="/Content/img/map.png" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingkenalibisnis">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="" data-target="#kenalibisnis" aria-expanded="false" aria-controls="kenalibisnis" class="collapsed">
                            Kenali Bisnis Kami di Asia
                        </a>
                    </h4>
                </div>
                <div id="kenalibisnis" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingkenalibisnis">
                    <div class="panel-body">
                        Mulai beroperasi pada 1995 di Indonesia
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-chevron-right"></i> Ambisi<br /><span class="font12">Menjadi salah satu dari 8 perusahaan asuransi jiwa terbesar di Indonesia</span></li>
                        </ul>
                        <hr class="hr-profil" />
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-chevron-right"></i> Tujuan<br /><span class="font12">Membantu keluarga Indonesia mencapai kesejahteraan melalui kemapanan finansial dan menjalani hidup yang lebih sehat</span></li>
                            <li>
                        </ul>
                        <hr class="hr-profil" />
                        <ul class="fa-ul">
                            <li>
                                <i class="fa-li fa fa-chevron-right"></i> Nilai<br />
                                <ul class="fa-ul font12 list-inline" style="margin-left: 0;margin-top: 0;">
                                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> Integritas</li>
                                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> Unggul</li>
                                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> Keikutsertaan</li>
                                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> Nilai</li>
                                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> Fokus pada nasabah</li>
                                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> Inovasi</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="" data-target="#award" aria-expanded="false" aria-controls="award" class="collapsed">
                            Apresiasi Kerja Keras Kami
                        </a>
                    </h4>
                </div>
                <div id="award" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body" style="padding-bottom:16px">

                        <div id="myCarousel" class="carousel slide">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row row-center">
                                                <div class="col col-20 padding0">
                                                    <img class="img-responsive" src="/Content/img/thumbnail-grey.png" />
                                                </div>
                                                <div class="col padding0">
                                                    <div style="padding-left:15px">
                                                        <div class="year-semi">Award 1</div>
                                                        <div class="font12 light-grey">Canada’s Best 50 Corporate Citizens dari Majalah Corporate Knights</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="hr-profil" />
                                            <div class="row row-center">
                                                <div class="col col-20 padding0">
                                                    <img class="img-responsive" src="/Content/img/thumbnail-grey.png" />
                                                </div>
                                                <div class="col padding0">
                                                    <div style="padding-left:15px">
                                                        <div class="year-semi">Award 3</div>
                                                        <div class="font12 light-grey">Canada’s Best 50 Corporate Citizens dari Majalah Corporate Knights</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="hr-profil" />
                                            <div class="row row-center">
                                                <div class="col col-20 padding0">
                                                    <img class="img-responsive" src="/Content/img/thumbnail-grey.png" />
                                                </div>
                                                <div class="col padding0">
                                                    <div style="padding-left:15px">
                                                        <div class="year-semi">Award 5</div>
                                                        <div class="font12 light-grey">Canada’s Best 50 Corporate Citizens dari Majalah Corporate Knights</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="hr-profil" />
                                        </div>
                                        <div class="col col-10"></div>
                                        <div class="col">
                                            <div class="row row-center">
                                                <div class="col col-20 padding0">
                                                    <img class="img-responsive" src="/Content/img/thumbnail-grey.png" />
                                                </div>
                                                <div class="col padding0">
                                                    <div style="padding-left:15px">
                                                        <div class="year-semi">Award 2</div>
                                                        <div class="font12 light-grey">Canada’s Best 50 Corporate Citizens dari Majalah Corporate Knights</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="hr-profil" />
                                            <div class="row row-center">
                                                <div class="col col-20 padding0">
                                                    <img class="img-responsive" src="/Content/img/thumbnail-grey.png" />
                                                </div>
                                                <div class="col padding0">
                                                    <div style="padding-left:15px">
                                                        <div class="year-semi">Award 4</div>
                                                        <div class="font12 light-grey">Canada’s Best 50 Corporate Citizens dari Majalah Corporate Knights</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="hr-profil" />
                                            <div class="row row-center">
                                                <div class="col col-20 padding0">
                                                    <img class="img-responsive" src="/Content/img/thumbnail-grey.png" />
                                                </div>
                                                <div class="col padding0">
                                                    <div style="padding-left:15px">
                                                        <div class="year-semi">Award 6</div>
                                                        <div class="font12 light-grey">Canada’s Best 50 Corporate Citizens dari Majalah Corporate Knights</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="hr-profil" />
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row row-center">
                                                <div class="col col-20 padding0">
                                                    <img class="img-responsive" src="/Content/img/thumbnail-grey.png" />
                                                </div>
                                                <div class="col padding0">
                                                    <div style="padding-left:15px">
                                                        <div class="year-semi">Award 7</div>
                                                        <div class="font12 light-grey">Canada’s Best 50 Corporate Citizens dari Majalah Corporate Knights</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="hr-profil" />
                                            <div class="row row-center">
                                                <div class="col col-20 padding0">
                                                    <img class="img-responsive" src="/Content/img/thumbnail-grey.png" />
                                                </div>
                                                <div class="col padding0">
                                                    <div style="padding-left:15px">
                                                        <div class="year-semi">Award 9</div>
                                                        <div class="font12 light-grey">Canada’s Best 50 Corporate Citizens dari Majalah Corporate Knights</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="hr-profil" />
                                            <div class="row row-center">
                                                <div class="col col-20 padding0">
                                                    <img class="img-responsive" src="/Content/img/thumbnail-grey.png" />
                                                </div>
                                                <div class="col padding0">
                                                    <div style="padding-left:15px">
                                                        <div class="year-semi">Award 11</div>
                                                        <div class="font12 light-grey">Canada’s Best 50 Corporate Citizens dari Majalah Corporate Knights</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="hr-profil" />
                                        </div>
                                        <div class="col col-10"></div>
                                        <div class="col">
                                            <div class="row row-center">
                                                <div class="col col-20 padding0">
                                                    <img class="img-responsive" src="/Content/img/thumbnail-grey.png" />
                                                </div>
                                                <div class="col padding0">
                                                    <div style="padding-left:15px">
                                                        <div class="year-semi">Award 8</div>
                                                        <div class="font12 light-grey">Canada’s Best 50 Corporate Citizens dari Majalah Corporate Knights</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="hr-profil" />
                                            <div class="row row-center">
                                                <div class="col col-20 padding0">
                                                    <img class="img-responsive" src="/Content/img/thumbnail-grey.png" />
                                                </div>
                                                <div class="col padding0">
                                                    <div style="padding-left:15px">
                                                        <div class="year-semi">Award 10</div>
                                                        <div class="font12 light-grey">Canada’s Best 50 Corporate Citizens dari Majalah Corporate Knights</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="hr-profil" />
                                            <div class="row row-center">
                                                <div class="col col-20 padding0">
                                                    <img class="img-responsive" src="/Content/img/thumbnail-grey.png" />
                                                </div>
                                                <div class="col padding0">
                                                    <div style="padding-left:15px">
                                                        <div class="year-semi">Award 12</div>
                                                        <div class="font12 light-grey">Canada’s Best 50 Corporate Citizens dari Majalah Corporate Knights</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="hr-profil" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="" data-target="#jalurdistribusi" aria-expanded="false" aria-controls="jalurdistribusi" class="collapsed">
                            Jalur Distribusi Kami yang Kuat
                        </a>
                    </h4>
                </div>
                <div id="jalurdistribusi" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-chevron-right"></i> Distribusi Keagenan<br /><span class="font12"> Memiliki lebih dari 10.000 agen (konvensional dan syariah) yang tersebar di seluruh Indonesia*</span></li>
                        </ul>
                        <hr class="hr-profil" />
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-chevron-right"></i> Distribusi Kemitraan<br /><span class="font12">Didukung oleh lebih dari 300 tenaga pemasar melalui 3 jalur distribusi; Retail Relations, Telemarketing, Mortgage & Bundling untuk memasarkan produk-produk kerja sama antara lain Sun Life Financial Indonesia dan mitra bank (CIMB Niaga, BNI, OCBC NISP, Bank Nobu, dan Bank ICBC)*</span></li>
                            <li>
                        </ul>
                        <hr class="hr-profil" />
                        <span class="font12" style="color: #a4383d;font-style:italic">* per 31 maret 2018</span>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="" data-target="#keagenan" aria-expanded="false" aria-controls="keagenan" class="collapsed">
                            Distribusi Keagenan
                        </a>
                    </h4>
                </div>
                <div id="keagenan" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-chevron-right"></i> Konvensional<br /><span class="font12"> Per 31 Maret 2018, distribusi keagenan konvensional didukung oleh lebih dari 7.700 tenaga pemasar dan 127 kantor pemasaran mandiri konvensional yang tersebar di seluruh Indonesia.</span></li>
                        </ul>
                        <hr class="hr-profil" />
                        <ul class="fa-ul">
                            <li>
                                <i class="fa-li fa fa-chevron-right"></i> Syariah<br />
                                <span class="font12">
                                    Unit bisnis syariah di Sun Life dibentuk pada Desember 2010 dan jalur distribusi agency khusus syariah beroperasi pertama kali pada Juli 2014.<br />Sun Life merupakan perusahaan asuransi jiwa pertama di Indonesia yang memisahkan distribusi unit bisnis konvensional dan syariah. Per 31 Maret 2018, kami memiliki lebih dari 2.300 tenaga pemasar untuk agency syariah dengan 48 kantor pemasaran mandiri syariah yang tersebar di seluruh Indonesia. Mengusung positioning “Modern Syariah”  Insurance Expert.
                                </span>
                            </li>
                            <li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="" data-target="#Kemitraan" aria-expanded="false" aria-controls="Kemitraan" class="collapsed">
                            Distribusi Kemitraan Bancaassurance
                        </a>
                    </h4>
                </div>
                <div id="Kemitraan" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Melalui distribusi kemitraan, Sun Life Financial Indonesia menawarkan produk-produk bancassurance yang dirancang khusus untuk memenuhi kebutuhan nasabah seperti proteksi, investasi, perencanaan keuangan, dan menabung. Juga dapat digunakan untuk berbagai tujuan investasi misalnya untuk dana pendidikan, tabungan, atau dana hari tua.
                        <div style="padding:10px 0">
                            <div class="row row-center padding0">
                                <div class="col padding0">
                                    <div class="row padding0">
                                        <div class="col padding0">
                                            <img src="/Content/img/bankniaga.png" class="img-responsive" />
                                        </div>
                                        <div class="col padding0">
                                            <img src="/Content/img/bankbni.png" class="img-responsive" />
                                        </div>
                                        <div class="col padding0">
                                            <img src="/Content/img/banknisp.png" class="img-responsive" />
                                        </div>
                                        <div class="col padding0">
                                            <img src="/Content/img/banknobu.png" class="img-responsive" />
                                        </div>
                                        <div class="col padding0">
                                            <img src="/Content/img/bankicbc.png" class="img-responsive" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-25">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="" data-target="#Perencanaan" aria-expanded="false" aria-controls="Perencanaan" class="collapsed">
                            Solusi Perencanaan Keuangan Anda
                        </a>
                    </h4>
                </div>
                <div id="Perencanaan" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="row padding0">
                            <div class="col col-50" style="padding-top:0">
                                <div class="row row-center padding0">
                                    <div class="col col-10 padding0">
                                        <img src="/Content/img/icon-asuransijiwa.png" class="center-block" />
                                    </div>
                                    <div class="col padding0">
                                        Asuransi Jiwa
                                    </div>
                                </div>
                                <hr class="hr-profil" />
                                <div class="row row-center padding0">
                                    <div class="col col-10 padding0">
                                        <img src="/Content/img/icon-asuransikesehatan.png" class="center-block" />
                                    </div>
                                    <div class="col padding0">
                                        Asuransi Kesehatan & Penyakit Kritis
                                    </div>
                                </div>
                            </div>
                            <div class="col col-50" style="padding-top:0">
                                <div class="row row-center padding0">
                                    <div class="col col-10 padding0">
                                        <img src="/Content/img/icon-asuransisyariah.png" class="center-block" />
                                    </div>
                                    <div class="col padding0">
                                        Asuransi Syariah
                                    </div>
                                </div>
                                <hr class="hr-profil" />
                                <div class="row row-center padding0">
                                    <div class="col col-10 padding0">
                                        <img src="/Content/img/icon-asuransikecelakaan.png" class="center-block" />
                                    </div>
                                    <div class="col padding0">
                                        Asuransi Kecelakaan & Cacat Tetap
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="" data-target="#Transformasi" aria-expanded="false" aria-controls="Transformasi" class="collapsed">
                            Transformasi Digital Pada Bisnis Kami
                        </a>
                    </h4>
                </div>
                <div id="Transformasi" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body" style="padding-bottom:16px">
                        <div class="row padding0">
                            <div class="col col-10 padding0">
                                <img class="img-responsive" src="/Content/img/thumbnail-grey.png" />
                            </div>
                            <div class="col padding0">
                                <div style="padding-left:15px">
                                    <div class="year-semi">My Sun Advisor</div>
                                    <div class="font12 light-grey">Aplikasi mobile berbasis Android dan iOS yang ditujukkan bagi agen Sun Life. Mengakses harga unit, informasi jatuh tempo polis nasabah, laporan produksi pribadi, laporan produksi tim, dan informasi lainnya.</div>
                                </div>
                            </div>
                        </div>
                        <hr class="hr-profil" style="margin: 25px 0;" />
                        <div class="row padding0">
                            <div class="col col-10 padding0">
                                <img class="img-responsive" src="/Content/img/thumbnail-grey.png" />
                            </div>
                            <div class="col padding0">
                                <div style="padding-left:15px">
                                    <div class="year-semi">My Sun Life Indonesia</div>
                                    <div class="font12 light-grey">Aplikasi mobile berbasis Android dan iOS yang diciptakan untuk menjawab kebutuhan nasabah akan kemudahan akses polis asuransi.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="" data-target="#Hubungi" aria-expanded="false" aria-controls="Hubungi" >
                            Hubungi Kami
                        </a>
                    </h4>
                </div>
                <div id="Hubungi" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <img src="/Content/img/kontak.png" style="width:100%" />
                        <hr class="hr-profil" />
                        <div class="row row-center padding0">
                            <div class="col col-50 padding0">
                                PT SUN LIFE FINANCIAL INDONESIA<br />
                                <div class="font12">
                                    Menara Sun Life Lantai Dasar<br />
                                    Jln. Dr Ide Anak Agung Gde Agung Blok 6.3<br />
                                    Kawasan Mega Kuningan – Jakarta Selatan 12950<br />
                                </div>
                            </div>
                            <div class="col col-50 padding0">
                                <div class="row">
                                    <div class="col col-50">
                                        <i class="fa fa-phone-square"></i>&nbsp; 021-5289 0000 (ext.)
                                    </div>
                                    <div class="col col-50">
                                        <i class="fa fa-facebook-square"></i>&nbsp; SunLifeIndonesia
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-50">
                                        <i class="fa fa-instagram"></i>&nbsp; @Sunlife_ID
                                    </div>
                                    <div class="col col-50">
                                        <i class="fa fa-youtube"></i>&nbsp; Sun Life Financial ID
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
