<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--start-production-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SharedFolderURL" value="\\10.148.0.2\eRecruitFiles\" />
    <add key="SharedFolderURLPD" value="C:\ERFPDFiles\" />
    <add key="SharedFolderUser" value="indocyber" />
    <add key="SharedFolderPassword" value="^cZ:W)kTU[]s!bx" />
    <add key="WebSharedFolderURL" value="http://104.154.84.84/ERFPDFiles/" />
    <add key="FileExtension" value=".gif,.jpg,.jpeg,.png,.mp3,.mp4,.pdf" />
    <add key="FileExtensionPdf" value=".gif,.jpg,.jpeg,.png,.pdf" />
    <add key="RoleIdAdmin" value="1" />
    <add key="RoleIdRecruiter" value="2" />
    <add key="SmtpHostServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUserMail" value="SunlifeErecruitment@gmail.com" />
    <add key="SmtpPasswordMail" value="^cZ:W)kTU[]s!bx" />
    <add key="AppUrlElearning" value="https://elearning.sunrecruit-app.com" />
    <add key="AppUrlErecruit" value="https://erecruitment.sunrecruit-app.com" />
    <add key="AppUrlErecruitPD" value="https://erecruitmentpd.sunrecruit-app.com" />
    <add key="enableEmailSender" value="1" />
    <!--<add key="TokenAddress" value="https://erecruitment.sunrecruit-app.com" />-->
    <add key="TokenAddress" value="http://localhost:50525" />
    <!--end-production-->
  </appSettings>
  <connectionStrings>
    <!--local-->
    <!--<add name="SunLifeConnection" connectionString="Data Source=.;Initial Catalog=erfPd;integrated security = true;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SunLifeConnectionElearning" connectionString="Data Source=.;Initial Catalog=eLearning;integrated security = true;" providerName="System.Data.SqlClient"/>-->
    <!--local-->
	  
    <!--stagging-->
    <add name="SunLifeConnection" connectionString="Data Source=104.154.84.84;Initial Catalog=erfPD;User Id=sa;Password=3K123451." providerName="System.Data.SqlClient" />
    <!--<add name="SunLifeConnection" connectionString="Data Source=104.154.84.84;Initial Catalog=erfPD_prodcopy_26_01_2021;User Id=sa;Password=3K123451." providerName="System.Data.SqlClient" />-->
    <!--<add name="SunLifeConnectionElearning" connectionString="Data Source=104.154.84.84;Initial Catalog=elearning_v310;User Id=sa;Password=3K123451." providerName="System.Data.SqlClient" />-->  
    <!--stagging-->
	  
    <!--production-->
    <!--<add name="SunLifeConnection" connectionString="Data Source=104.199.232.161;Initial Catalog=erfpd;User Id=sa;Password=Sunlife!@#" providerName="System.Data.SqlClient" />
    <add name="SunLifeConnectionElearning" connectionString="Data Source=104.199.232.161;Initial Catalog=erfpd;User Id=sa;Password=Sunlife!@#" providerName="System.Data.SqlClient" />-->
    <!--<add name="SunLifeConnection" connectionString="Data Source=sunlife-db1;Initial Catalog=eRecruitment;User Id=sa;Password=Sunlife!@#" providerName="System.Data.SqlClient" />
    <add name="SunLifeConnectionElearning" connectionString="Data Source=sunlife-db1;Initial Catalog=eLearning;User Id=sa;Password=Sunlife!@#" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime enableVersionHeader="false" maxRequestLength="10485760" />
      <!--<httpRuntime enableVersionHeader="false" maxRequestLength="1048576"/>-->
      <httpModules>
        <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      </httpModules>
      <pages controlRenderingCompatibilityVersion="4.0" />
      <customErrors mode="Off" />
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <!-- new -->
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <!-- Disable Web Cache -->
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache, no-store" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="-1" />
        <!--<add name="X-Frame-Options" value="DENY" />-->
      </customHeaders>
    </httpProtocol>
    <!-- End - Disable Web Cache -->
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
</configuration>