.test {
  width:100%;
  height:30px;
  background-color:green;
  position:absolute;
  left:0;
  right:0
  top:0;
  z-index:99999;
}
.slnavbar {
  border-top:3px solid #b0956c;
}
.sl-title {
  background: #1a4e59;
}
.sl-title h2 {
  color:#b0956c;
}
.sidenav {
  background:#003946 url(../../assets/img/bg-navbar.png)no-repeat center bottom;
}
ul.sl-sidenav li.active {
  background:#b0956c;
}
ul.sl-sidenav li a:hover {
background:#b0956c;
color:#003946;
}
ul.sl-sidenav li a p, ul.sl-sidenav li a i {
  color:#b0956c;
}
ul.sl-sidenav li a span.icon-sunlife {
  color:#b0956c;
}
ul.sl-sidenav li a:hover span.icon-sunlife  {
  color:#003946;
}
ul.sl-sidenav li.active a p, ul.sl-sidenav li.active a i {
  color:#003946;
}
ul.sl-sidenav li a:hover p, ul.sl-sidenav li a:hover i {
  color:#003946;
}
.arrow-left {
  border-right: 15px solid #d3c39a;
}
.progress-content p {
  margin:auto;
  text-align:center;
}
.content-title {
  background:url(../../assets/img/syariah-ribbon.png) no-repeat top center;
}

.bg-yellow-transparent {
  background-image:url(../../assets/img/bg-pattern.png);
  background-repeat:repeat;
  background-color: #d3c39a; /* For browsers that do not support gradients */
  background-color: -webkit-linear-gradient(#d3c39a, #bda668); /* For Safari 5.1 to 6.0 */
  background-color: -o-linear-gradient(#d3c39a, #bda668); /* For Opera 11.1 to 12.0 */
  background-color: -moz-linear-gradient(#d3c39a, #bda668); /* For Firefox 3.6 to 15 */
  background-color: linear-gradient(#d3c39a, #bda668); /* Standard syntax */
}
.menu-profile ul li {
    border-left: 1px solid rgba(26, 78, 89, 0.24);
}
.bg-dashboard {
  background:url(../../assets/img/bg-pattern.png)repeat;
  opacity: 0.5;
  z-index:1;
}
.bg-login {
  background:none;
}
.login-container {
  background-image:url(../../assets/img/bg-pattern.png);
  background-repeat:repeat;
  background-color: #d3c39a; /* For browsers that do not support gradients */
  background-color: -webkit-linear-gradient(#d3c39a, #bda668); /* For Safari 5.1 to 6.0 */
  background-color: -o-linear-gradient(#d3c39a, #bda668); /* For Opera 11.1 to 12.0 */
  background-color: -moz-linear-gradient(#d3c39a, #bda668); /* For Firefox 3.6 to 15 */
  background-color: linear-gradient(#d3c39a, #bda668); /* Standard syntax */
}
.bg-logo {
    background-image: url(../img/bg-logo-transparent-white.png);
    z-index: 1;
    opacity: 0.2;
}
