@*@{
    ViewBag.Title = "Contact";
    Layout = null;
}

<!doctype html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
</head>

<body ng-app="SunLifeApp">

    <div ng-controller="faqController">
        <h2>Welcome {{helloTo.title}} to the world of Tutorialspoint!</h2>
    </div>

    <script>
        angular.module("SunLifeApp", [])

            .controller("faqController", function($scope) {
            $scope.helloTo = {};
            $scope.helloTo.title = "AngularJS";
         });
    </script>

</body>
</html>*@